<h1>Classement des <span class="text-gradient">Cyber-Agents</span></h1>
<p class="subtitle">Les meilleurs défenseurs du cyberespace. Grimpez dans le classement !</p>

<link rel="stylesheet" href="frontend/css/templates/leaderboard.css">


<div class="podium-container" id="podium-container">
    <!-- Le podium sera généré ici via JS -->
</div>

<div id="lb-group-container" class="ranking-table-container">
    <div class="table-responsive">
        <table class="ranking-table">
            <thead>
                <tr>
                    <th>Rang</th>
                    <th>Utilisateur</th>
                    <th>Niveau</th>
                    <th>XP</th>
                    <th>Cours</th>
                    <th>Badges</th>
                </tr>
            </thead>
            <tbody id="group-leaderboard-list">
                <!-- Rempli par JS -->
            </tbody>
        </table>
    </div>
</div>
